
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 profilim</p>
<p>#2 tüm başlıklarda paging</p>
<p>#3 mesajlarda session</p>
<p>#4 oturum yön. mimariye taşı</p>
<p>#5 token kullanımı</p>

